<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">

    <div class="text-right">
        <!-- Spring Security の拡張機能によって Thymeleaf で直接参照できるようになる -->
        [[${#authentication.principal.username}]] さん
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="logout">
        </form>
    </div>

    <form th:action="@{/add}" method="post" class="m-3">
        <div class="form-group">
            <input type="text" name="todo" th:value="*{todo}" required class="form-control" placeholder="input todo"/>
            <input type="date" name="deadline" th:value="*{deadline}" class="form-control"/>
        </div>
        <input type="submit" value="追加" class="btn btn-primary"/>
    </form>


    <table class="table table-hover">
        <tr><th>id</th><th>todo</th><th>deadline</th></tr>
        <tr th:each="todo: ${todoList}">
            <form th:action="@{/delete}" method="post" class="">
                <input type="hidden" name="id" th:value="${todo.id}" />
                <td>[[${todo.id}]]</td>
                <input type="hidden" name="todo" th:value="${todo.todo}" />
                <td>[[${todo.todo}]]</td>
                <td>[[${todo.deadline}]]</td>
                <td>
                    <input type="submit" value="削除" class="btn btn-danger"/>
                </td>
            </form>
            <form th:action="@{/edit}" method="POST">
                <input type="hidden" name="id" th:value="${todo.id}" />
                <td>
                    <input type="submit" value="編集" class="btn btn-primary"/>
                </td>
            </form>
        </tr>
    </table>

</body>
</html>